---
import Experiencia1Pdf from "../assets/certificatework/certificado _laboral_servimax.pdf";
import Experiencia2Pdf from "../assets/certificatework/CARTA DE RECOMENDACIÓN SERGIO ANDRES BAREÑO CUBILLOS.pdf";
import Experiencia3Pdf from "../assets/certificatework/CertificadoLaboralSerdan.pdf";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE =[
    {
    date: 'Febrero 2024 - Agosto 2024',
    title: 'Desarrollador fullstack mobile - SERVIMAX Y CIA S.A.S',
    description:'mantenimiento, optimizacion y actualizacion de app (servimax conductores, servimax tenderos y servimax vendedor).',
    link:`${Experiencia1Pdf}`,
    dowload:`${Experiencia1Pdf}`


},
{
    date: 'Abril 2023 - Noviembre 2023',
    title: 'Desarrollador fullstack web',
    description:'Mis principales funciones consistieron en el desarrollo, mantenimiento y mejora de una plataforma web de streaming, específicamente destinada a la transmisión en vivo y servicios interactivos como tercero.',
    link:`${Experiencia2Pdf}`,
    dowload:`${Experiencia2Pdf}`
},
{
    date: 'febrero 2025 - agosto 2025',
    title: 'Desarrollador fullstack web',
    description:'Mis principales funciones en Serdán consistieron en el desarrollo, mantenimiento y mejora de módulos dentro de una plataforma web, utilizando tecnologías como PHP estructurado, Laravel y .NET C#, trabajando directamente en la optimización y ampliación de funcionalidades según las necesidades del cliente.',
    link:`${Experiencia3Pdf}`,
    dowload:`${Experiencia3Pdf}`
}
]
---
<ol class="relative border-s border-black dark:border-gray-700 ml-3">
    {
    EXPERIENCE.map(experiencie => (
    <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie}/>
    </li>
    ))
    }
</ol>
